body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(168, 218, 220, 0.5);
}

div nav a{
  font-size: 1em;
  text-decoration: none;
  color: black;
}
div .card {
  border: transparent;
  border-radius: 1em;
}

div .Divider {
  height: 4px;
  background-color: #f5f5f5;
  margin: 5em 7em;
}
.heroBanner {
  background-color: rgba(29, 53, 87, 1);
}

div .site-footer {
  background-color: rgba(29, 53, 87, 1);
}